name: CI Pipeline

on:
  push:
    branches: [dev, main]
  pull_request:
    branches: [dev]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    env:
      DB_URL: ${{ secrets.DB_URL }}
      DB_USERNAME: ${{ secrets.DB_USERNAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      #  Build = compilation + packaging (JAR)
      - name: Build (package jar)
        run: mvn -B -DskipTests clean package

      #  Tests automatisés
      - name: Run tests
        run: mvn -B test -Dspring.profiles.active=test

      #  Publication de l’artefact (JAR)
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar